apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: agent-office-operator-catalog
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  image: "{{ agent_office_catalog_image }}"
  displayName: Agent Office Operator
